/* .fe{
    background-color: palegreen;
}

#be{
    background-color:violet;
}

h3, p{
    text-align: center;
    background-color: burlywood;
} */

.formElement
 {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 8px 0px;
  box-sizing: border-box;
}
.formElement:focus {
  background-color: lightblue;
}
.formElement:hover {
  background-color: lightcyan;
}
.formSubmit {
  width: 100%;
  padding: 13px;
  background-color: blue;
  border: none;
  border-radius: 15px;
  color: white;
}

.formGeneral{
    background-color: lightgray;
    padding: 20px;
    margin: 10px 350px;
}
